@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-background: #101010;
    --on-background: #f2f2f2;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.frame a,
.frame button {
    pointer-events: auto;
}

.frame__title {
    grid-area: title;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    width: 14rem;
}

.frame__title-main {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.frame__title-back {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.frame__title-back span {
    display: none;
}

.frame__title-back svg {
    fill: var(--color-link);
}

.frame__title-back:hover svg,
.frame__title-back:focus svg {
    fill: var(--color-link-hover);
}

.frame__title-prev {
    margin-top: 0.5rem;
}

.content {
    position: relative;
}

.content--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content--full-h {
    min-height: 100vh;
}

.content--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__title {
    line-height: 0.9;
    font-family: scotch-display, serif;
    font-weight: 400;
    font-style: normal;
}

/*.content__title-page {*/
/*    line-height: 0.9;*/
/*    font-family: scotch-display, serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

.content__title--right {
    text-align: right;
}

.text-light {
    color: var(--color-bg);
}

.content__title-pre {
    display: block;
    font-size: clamp(2rem, 10vw, 7rem);
    font-weight: 400;
    font-style: normal;
}

.content__title-min {
    display: block;
    font-size: clamp(2rem, 5vw, 2rem);
    font-weight: 400;
    font-style: normal;
}

.content__title-pre--offset {
    margin-left: 12vw;
}

.content__title em {
    font-weight: bold;
}

.content__title-main {
    font-size: 11vw;
    margin: 0;
}

.content__title-page {
    font-size: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.content__scroll {
    position: absolute;
    bottom: 0;
    padding-bottom: 6rem;
    margin-top: 10vh;
}

.content__scroll::before,
.content__scroll::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 3rem;
    background: currentColor;
    left: 50%;
    top: 3rem;
}

.content__scroll::after {
    background: var(--color-bg);
    height: 0.25rem;
    top: 5rem;
}

.content__bg {
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content__bg--bottom {
    background-position: 50% 100%;
}

.separator {
    display: block;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    width: 100%;
    height: 150px;
    fill: var(--color-bg);
}

.separator--center {
    top: 10vh;
    height: 300px;
    opacity: 0.2;
}

.separator--up {
    top: -1px;
}

.separator--down {
    bottom: -1px;
}

.separator--solo {
    position: relative;
    height: auto;
    width: calc(100% + 5px);
    margin-left: -2.5px;
}

.separator--line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.separator--line-light {
    fill: none;
    stroke: var(--color-bg);
    stroke-width: 1px;
}

.content__stacked {
    padding: 20vh 10vw 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__interlude {
    font-family: ab-appare, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    writing-mode: vertical-rl;
}

.content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__text--left {
    text-align: left;
}

.content__text h2 {
    font-size: clamp(1.75rem, 10vw, 5rem);
    font-weight: 400;
    font-family: scotch-display, serif;
    margin: 0;
    line-height: 0.85;
}

.content__text p {
    line-height: 1.5;
    max-width: 40ch;
    font-size: 1.25rem;
}

.content__sides {
    display: grid;
    grid-gap: 6vw;
    grid-template-columns: 100%;
    padding: 10vh 10vw 30vh;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content__sides--nogap {
    grid-gap: 0;
    padding-bottom: 0;
}

.content__sides .image-clip {
    max-width: 100%;
    justify-self: center;
}

.content--grid {
    justify-items: center;
    padding: 20vh 10vw 30vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10vw;
    max-width: 1200px;
    margin: 0 auto;
}

.content--list__inline > li {
    display: flex;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.content__img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.footer {
    background: #000;
    position: relative;
    color: #fff;
    --color-link: #988c6c;
    --color-link-hover: #fff;
}

.credits {
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 400;
    font-family: scotch-display, serif;
    padding: 10vh 0;
    text-align: center;
}

.image-clip {
    max-width: 100%;
    height: auto;
}

.image-clip--offset {
    margin-top: -20%;
}


@media screen and (min-width: 53em) {
    .content__sides {
        grid-template-columns: 55% 1fr;
    }

    .content--grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .content--grid .content__img:nth-child(2) {
        margin-top: 50vh;
    }

    .content--grid .content__img:nth-child(3) {
        margin-top: -50vh;
    }
}

@media screen and (min-width: 850em) {
    .content__sides {
        grid-template-columns: 55% 1fr;
    }

    .content--grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .content--grid .content__img:nth-child(2) {
        margin-top: 50vh;
    }

    .content--grid .content__img:nth-child(3) {
        margin-top: -50vh;
    }
}

.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}

.gradient-bg {
    background: linear-gradient(45deg, #4f2c01, #937e0e);
}

.border-b {
    border-bottom-color: #000; /* Черный цвет */
}

/* TODO: Move to module css (https://nextjs.org/docs/app/building-your-application/styling/css-modules)*/
/* Footer*/
.section-footer {
    background: var(--black-background);
    color: white;
}

.text-footer-links-overline {
    opacity: .5;
    letter-spacing: 1.5px;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
}

.footer-link {
    grid-column-gap: 4px;
    color: white;
    align-self: stretch;
    align-items: center;
    height: 40px;
    text-decoration: none;
    display: flex;
}

.footer-bottom-left {
    grid-row-gap: 4px;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
}

.text-footer-copyright {
    letter-spacing: .2px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.text-under-copyright {
    opacity: .5;
    letter-spacing: .2px;
    text-transform: none;
}

.footer-bottom-right {
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
}

.text-last-updated {
    opacity: .5;
    letter-spacing: .2px;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}